head
  title 問い合わせ

body
  header
    h1 問い合わせ
    +loginButtons
  .container
    if currentUser
      +support
    else
      +customer

template(name='support')
  #support
    if connect
      +connecting
    else
      +supportDefault

template(name='supportDefault')
  #support-default
    .fix-header
      .state
        .current-state 現在の状態:
          if myStateIsAway
            span.cannot-use !{myStateMessage}
          else
            span.can-use !{myStateMessage}
        .btn-group
          if myStateIsAway
            button.btn.state-away.active 離席中
          else
            button.btn.state-away 離席中
          if myStateIsChat
            button.btn.state-chat.active テキストチャットのみ
          else
            button.btn.state-chat テキストチャットのみ
          if myStateIsAudio
            button.btn.state-audio.active ボイスチャット可
          else
            button.btn.state-audio ボイスチャット可
          if myStateIsVideo
            button.btn.state-video.active ビデオチャット可
          else
            button.btn.state-video ビデオチャット可
      .only-me
        span 自分の問い合わせのみ表示
        input.toggle-only-me(type='checkbox', checked="!{onlyMe}")
    ul.contacts
      each contacts
        +contact

template(name='contact')
  li.contact !{time} の問い合わせ (!{typeStr}) 対応: !{support}

template(name='customer')
  #customer
    if connect
      +connecting
    else
      +customerDefault

template(name='customerDefault')
  #customer-default
    .chat-states
      .chat-state ビデオチャット　:
        if videoStatus
          span.can-use 利用できます
        else
          span.cannot-use 現在利用できません
      .chat-state ボイスチャット　:
        if audioStatus
          span.can-use 利用できます
        else
          span.cannot-use 現在利用できません
      .chat-state テキストチャット:
        if textStatus
          span.can-use 利用できます
        else
          span.cannot-use 現在利用できません
    .call-btns
      if videoStatus
        button.btn.call-btn.open-video ビデオチャットで問い合わせ
      else
        button.btn.call-btn.open-video.disabled ビデオチャットで問い合わせ
      if audioStatus
        button.btn.call-btn.open-audio ボイスチャットで問い合わせ
      else
        button.btn.call-btn.open-audio.disabled ボイスチャットで問い合わせ
      if chatStatus
        button.btn.call-btn.open-chat テキストチャットで問い合わせ
      else
        button.btn.call-btn.open-chat.disabled テキストチャットで問い合わせ

template(name='calling')

template(name='connecting')
  #connecting
    if isVideo
      .video
        video.remote(id='remoteVideo', autoplay='1')
        video.local(id='localVideo', style="-webkit-transform: scaleX(-1);", autoplay='1')
    else if isAudio
      .audio
        img(src='http://i.ytimg.com/vi/EYHfaFKGaKQ/maxresdefault.jpg')
        audio(id='remoteAudio', autoplay='1')
        audio(id='localAudio', autoplay='1')
    .message-area
      ul.messages
        each messages
          +message
      form.new-message
        input(type='text', name='text')

template(name='message')
  li.message
    strong !{name}
    div !{text}